*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #000;
}
.navbar{
    width: 100%;
    background-color: rgba(250, 235, 215, 0);
}
.navbar h1{
    display: flex;
    padding: 20px;
    font-family: sans-serif;
    font-weight: 900;
    color: white;
}
.icons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    width: 350px;
    height: 50px;
    /* background-color: aliceblue; */
    top: 20px;
    right: 0;
    font-size: 20px;
    color: white;
}
.icons button{
    width: 30px;
    height: 30px;
    font-size: 20px;
    background-color: #00000000;
    color: white;
    border: none;
}