@media screen and (max-width:460px) {
    *{
        transition: 400ms;
    }
    .user-screen {
        top: 0px;
        width: 120%;
        height: 1600px;
        background-color: #ffffff;
    }
    
    .movie-card01 {
        top: 150px;
        height: 800px;
        background-color: #000000;
        border-radius: 5px;
    }

    .image01 {
        position: absolute;
        top: 80px;
        left: 20%;
        background-color: #000000;
    }
}