@media screen and (max-width:650px) {
    * {
        transition: 400ms;
    }
    
    #login-screen {
        width: 65%;
        height: 300px;
    }
    button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        padding: 15px;
        margin: 15px 0px;
        background-color: #28a746;
    }
}