*{
    transition: 400ms;
}

/* .background-image{
    width: 100%;
    height: 100%;
} */

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(45deg, #000000, #5c5c5c);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.admin-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 500px;
    background-color: rgba(68, 229, 250, 0);
}

h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.hidden {
    display: none;
}

input[type="number"],
input[type="text"],
input[type="password"] {
    width: 93%;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #85ff72;
    background-color: #ffffff00;
    text-align: center;
    font-size: 15px;
    outline: none;
}

button {
    width: 100%;
    padding: 15px;
    margin: 5px 0;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

.error {
    color: red;
    font-size: 14px;
}
#refresh{
    display: none;
    color: #28a745;
    font-size: 18px;
}
#login-screen{
    position: absolute;
    width: 450px;
    height: 300px;
    -webkit-backdrop-filter: blur(100%);
    backdrop-filter: blur(30px);
    /* background-color: #00ffbb; */
    border: 1px solid #85ff7259;
    box-shadow: 0px 0px 5px #85ff724b;
    padding: 50px;
    text-align: center;
    border-radius: 10px;
}
#login-screen h2{
    margin-top: 5px;
    color: rgb(0, 0, 0);
    text-shadow: 0px 0px 50px greenyellow;
    font-size: 35px;
    font-family: sans-serif;
    font-weight: 900;
}
#dashboard-screen{
    position: absolute;
    width: 67%;
    height: 70%;
    /* width: 90%;
    height: 450px; */
    transition: 400ms;
    /* background-color: rgb(53, 253, 220); */
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(10px);
    border: 1px solid grey;
    padding: 50px;
    border-radius: 10px;
    color: white;
}
#user-name{
    font-size: 20px;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#logout-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 60px;
    background-color: #f39c12;
    top: 30px;
    right: 30px;
}

#logout-btn:hover {
    background-color: #e67e22;
}
.dashboard-options{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 50px;
    /* background-color: #12f343; */
    left: 0px;
    border-radius: 50px;
}
.dashboard-options button{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100px;
    height: 40px;
    top: 100px;
    margin-left: -10%;
    background-color: #00bd2c;
}