*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    background-color: #000;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 600px;
    border: 2px solid #eeeeee5f;
    border-radius: 20px;
    margin: 60px;
}
#close-btn{
    position: absolute;
    top: 90px;
    right: 90px;
    font-size: 20px;
    color: #ffffff;
}